<header>
    <h1>Enrique Onieva</h1>
    <nav>
        <a href="{{ site.baseurl }}/index.html">Home</a>
        <a href="{{ site.baseurl }}/posts.html">Posts</a>
        <a href="{{ site.baseurl }}/publicaciones.html">Publicaciones</a>
    </nav>
    <div>
        <a class="mailto" href="mailto:enrique.onieva@deusto.es" target="_blank">
            <i class="fas fa-envelope"></i>
        </a>
        <a class="gs" href="https://scholar.google.es/citations?user=2ww8fYYAAAAJ" target="_blank">
            <i class="fas fa-graduation-cap"></i>
        </a>
        <a class="twt" href="https://twitter.com/EnriqueOnieva" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="linkedin" href="https://www.linkedin.com/in/enriqueonieva/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
    </div> 
</header>