<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    
    <title>{{ page.title }}</title>
</head>
<body>
    {% include header.html %}
    <main>
        <section class="profile-section">
            <div class="profile-container">
                <img src="/assets/images/enriquePerfil.jpg" alt="Foto de Enrique Onieva" class="profile-img">
                <p class="profile-text">
                    <em>Ph.D.</em>
                    <br>
                    <em>Vice-Dean for International Relations and Online Training</em>
                    <br>
                    <em>Professor & Researcher - Artificial Intelligence, Machine Learning</em>
                    <br>
                    <em>and Data Science</em>
                </p>
            </div>
        </section>
        <div class="profile">
            {{ content }}
        </div>
    </main>
    {% include footer.html %}
</body>
</html>