<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ page.title }}</title>
</head>
<body>
    {% include header.html %}
    <main>
        <div class="content-wrapper">
            <!-- Columna izquierda: Últimas publicaciones -->
            <aside class="sidebar-left">
                <h3>Últimas Publicaciones</h3>
                <ul class="recent-posts">
                    {% for post in site.posts limit:10 %}
                        <li><a href="#{{ post.id }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </aside>

            <!-- Contenido principal -->
            <section class="posts-section">
                {% for post in site.posts %}
                    <article class="post-item" id="{{ post.id }}">
                        <h2>{{ post.title }}</h2>
                        <p class="post-date">{{ post.date | date: "%Y-%m-%d" }}</p>
                        <!-- Enlace al post -->
                        <p><a href="{{ post.url }}">Ir a la pagina</a></p>
                        <div class="post-content">
                            {{ post.content }}
                        </div>
                    </article>
                {% endfor %}
            </section>

        <!-- Columna derecha: Redes sociales -->
        <aside class="sidebar-right">
            <h3>Conéctate conmigo</h3>
            <ul class="social-links">
                <li><a href="https://twitter.com/EnriqueOnieva" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/enriqueonieva/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                <li><a href="https://scholar.google.es/citations?user=2ww8fYYAAAAJ" target="_blank"><i class="fab fa-google"></i> Google Scholar</a></li>
                <li><a href="mailto:enrique.onieva@deusto.es"><i class="fas fa-envelope"></i> Email</a></li>
            </ul>
        </aside>
    </main>
    {% include footer.html %}
</body>
</html>
